{% block contenttop%}

{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<header>

    

{% if current_user.is_authenticated %}
    <div class="menu"><a href="/" class="link"><button class="pulsante hh" type="button">PRODUCT LIST</button></a></div>    
    <div class="menu"><a href="/add_products" class="link"><button class="pulsante hh" type="button">ADD PRODUCTS</button></a></div>
        <div class="menu"><a href="/incoming_orders" class="link"><button class="pulsante hh" type="button">INCOMING ORDERS</button></a></div>
    <div class="menu"><a href="/logout" class="link"><button id = "logout" class="pulsante hh" type="button">LOG OUT</button></a></div>
{% else %}
    <div class="menu"><a href="/" class="link"><button class="pulsante hh ns" type="button">HOME</button></a></div>    
    <div class="menu"><a href="/login" class="link"><button class="pulsante hh ns" type="button">SIGN IN</button></a></div>
    <div class="menu"><a href="/register" class="link"><button class="pulsante hh ns" type="button">SIGN UP</button></a></div>
{% endif %}
   
</header>

{% block contentdown%}

{% endblock %}